<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msy.block1112.dao.TransMapper">
  <resultMap id="transmap" type="com.msy.block1112.po.Trans">
    <id column="transId" jdbcType="INTEGER" property="transId" />
    <result column="block_id" jdbcType="INTEGER" property="block_id" />
    <result column="txHash" jdbcType="CHAR" property="txHash" />
    <result column="amount" jdbcType="DOUBLE" property="amount" />
    <result column="total_input" jdbcType="DOUBLE" property="total_input" />
    <result column="total_output" jdbcType="DOUBLE" property="total_output" />
    <result column="time" jdbcType="BIGINT" property="time" />
    <result column="confirmations" jdbcType="INTEGER" property="confirmations" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="fee" jdbcType="DOUBLE" property="fee" />
    <result column="fee_per_weight" jdbcType="DOUBLE" property="fee_per_weight" />
    <result column="fee_per_byte" jdbcType="DOUBLE" property="fee_per_byte" />
    <result column="sizeOndisk" jdbcType="INTEGER" property="sizeOndisk" />
  </resultMap>
  <sql id="tran">
    transId, block_id, txHash, amount, total_input, total_output, time, confirmations,
    status, weight, fee, fee_per_weight, fee_per_byte, sizeOndisk
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="transmap">
    select 
    <include refid="tran" />
    from trans
    where transId = #{transId,jdbcType=INTEGER}
  </select>
  <select id="getTransByTxhash" parameterType="java.lang.String" resultMap="transmap">
    select
    <include refid="tran" />
    from trans
    where txHash = #{txHash,jdbcType=CHAR}
  </select>
  <select id="list"   resultMap="transmap">
    select
    <include refid="tran" />
    from trans
where sizeOndisk =#{sizeOndisk}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from trans
    where transId = #{transId,jdbcType=INTEGER}
  </delete>


  <insert id="insert" parameterType="com.msy.block1112.po.Trans">
    insert into trans (transId, block_id, txHash, 
      amount, total_input, total_output, 
      time, confirmations, status, 
      weight, fee, fee_per_weight, 
      fee_per_byte, sizeOndisk)
    values (#{transId,jdbcType=INTEGER}, #{block_id,jdbcType=INTEGER}, #{txHash,jdbcType=CHAR},
      #{amount,jdbcType=DOUBLE}, #{total_input,jdbcType=DOUBLE}, #{total_output,jdbcType=DOUBLE},
      #{time,jdbcType=BIGINT}, #{confirmations,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{weight,jdbcType=INTEGER}, #{fee,jdbcType=DOUBLE}, #{fee_per_weight,jdbcType=DOUBLE},
      #{fee_per_byte,jdbcType=DOUBLE}, #{sizeOndisk,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.msy.block1112.po.Trans">
    insert into trans
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="transId != null">
        transId,
      </if>
      <if test="block_id != null">
        block_id,
      </if>
      <if test="txHash != null">
        txHash,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="total_input != null">
        total_input,
      </if>
      <if test="total_output != null">
        total_output,
      </if>
      <if test="time != null">
        time,
      </if>
      <if test="confirmations != null">
        confirmations,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="fee != null">
        fee,
      </if>
      <if test="fee_per_weight != null">
        fee_per_weight,
      </if>
      <if test="fee_per_byte != null">
        fee_per_byte,
      </if>
      <if test="sizeOndisk != null">
        sizeOndisk,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="transId != null">
        #{transId,jdbcType=INTEGER},
      </if>
      <if test="block_id != null">
        #{block_id,jdbcType=INTEGER},
      </if>
      <if test="txHash != null">
        #{txHash,jdbcType=CHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=DOUBLE},
      </if>
      <if test="total_input != null">
        #{total_input,jdbcType=DOUBLE},
      </if>
      <if test="total_output != null">
        #{total_output,jdbcType=DOUBLE},
      </if>
      <if test="time != null">
        #{time,jdbcType=BIGINT},
      </if>
      <if test="confirmations != null">
        #{confirmations,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="fee != null">
        #{fee,jdbcType=DOUBLE},
      </if>
      <if test="fee_per_weight != null">
        #{fee_per_weight,jdbcType=DOUBLE},
      </if>
      <if test="fee_per_byte != null">
        #{fee_per_byte,jdbcType=DOUBLE},
      </if>
      <if test="sizeOndisk != null">
        #{sizeOndisk,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.msy.block1112.po.Trans">
    update trans
    <set>
      <if test="block_id != null">
        block_id = #{block_id,jdbcType=INTEGER},
      </if>
      <if test="txHash != null">
        txHash = #{txHash,jdbcType=CHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=DOUBLE},
      </if>
      <if test="total_input != null">
        total_input = #{total_input,jdbcType=DOUBLE},
      </if>
      <if test="total_output != null">
        total_output = #{total_output,jdbcType=DOUBLE},
      </if>
      <if test="time != null">
        time = #{time,jdbcType=BIGINT},
      </if>
      <if test="confirmations != null">
        confirmations = #{confirmations,jdbcType=INTEGER},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="fee != null">
        fee = #{fee,jdbcType=DOUBLE},
      </if>
      <if test="feePerWeight != null">
        fee_per_weight = #{feePerWeight,jdbcType=DOUBLE},
      </if>
      <if test="fee_per_byte != null">
        fee_per_byte = #{fee_per_byte,jdbcType=DOUBLE},
      </if>
      <if test="sizeOndisk != null">
        sizeOndisk = #{sizeOndisk,jdbcType=INTEGER},
      </if>
    </set>
    where transId = #{transId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.msy.block1112.po.Trans">
    update trans
    set block_id = #{block_id,jdbcType=INTEGER},
      txHash = #{txHash,jdbcType=CHAR},
      amount = #{amount,jdbcType=DOUBLE},
      total_input = #{total_input,jdbcType=DOUBLE},
      total_output = #{total_output,jdbcType=DOUBLE},
      time = #{time,jdbcType=BIGINT},
      confirmations = #{confirmations,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      fee = #{fee,jdbcType=DOUBLE},
      fee_per_weight = #{fee_per_weight,jdbcType=DOUBLE},
      fee_per_byte = #{fee_per_byte,jdbcType=DOUBLE},
      sizeOndisk = #{sizeOndisk,jdbcType=INTEGER}
    where transId = #{transId,jdbcType=INTEGER}
  </update>

</mapper>